<div class="bg-withe shadow p-4 flex items-center justify-between">
    <div class="grid">
        <span class="font-bold text-xl">Coworkia</span>
        <span class="text-xs text-purple-500">Votre espace coworking</span>
    </div>
    

    <nav class="md:flex md:items-center gap-4">
        <a href="">Zones</a>
        <a href="">Mes réservations</a>
        <a href="">Historique</a>
    </nav>
    
    <nav class="btn-primary md:flex md:items-center gap-4 border-2 border-purple-200">
        <a href="">Connexion</a>
        <a href="">Déconnexion</a>
    </nav>
</div>
