<header class="bg-withe shadow p-4 flex items-center justify-between flex-wrap">
    <div class="grid">
        <span class="font-bold text-xl">Coworkia</span>
        <span class="text-xs text-purple-500">Votre espace coworking</span>
    </div>

    @if(estConnecte()){
        <button 
        class="md:hidden cursor-pointer"
        (click)="ouvrirMenu()"
    >
        ≡
    </button>
    }
    
    <nav 
    [class.hidden]="!menuOuvert" 
    [class.flex]="menuOuvert"
    class="md:flex flex-col md:flex-row md:items-center ml-1 gap-4">
        @if(estConnecte()){
            <a routerLink="/zones">Zones</a>
            <a routerLink="/mes-reservations">Mes réservations</a>
        }
        @if(estAdmin()){
            <a routerLink="/historique">Historique</a>
        }
        @if(estConnecte()){
           <button (click)="logout()" class="cursor-pointer">Déconnexion</button> 
        } @else {
            <a routerLink="/login">Connexion</a>
        }
    </nav>
</header>
